.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
}

.closeButton {
  margin-top: 20px;
  padding: 10px 15px;
  background: var(--app-gradient);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.title {
  /* margin-bottom: 10px; */
  color: #334155;
}

.content {
  margin-bottom: 20px;
}

.closeIcon {
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  top: 1px;
  right: 1px;
  cursor: pointer;
  color: #334155;
}

.MonitorIcon {
  width: 24px;
  height: 24px;
  color: #334155;
  margin-right: 10px;
}

.modalHeader {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #334155;
  margin-bottom: 20px;
}
